{% load static %}

<div class="cl-sidebar">
    <div class="cl-toggle"><i class="fa fa-bars"></i></div>

    <div class="cl-navblock">
        <div class="menu-space">
            <div class="content">
                <div class="sidebar-logo">
                    <div class="logo"><a href="{% url 'core:index' %}"></a></div>
                </div>

                {% comment %}<div class="side-user">
                    <div class="info">
                        <p class="full-name">{{ request.user }}</p>
                    </div>
                </div>{% endcomment %}

                <div class="cl-vnavigation">
                    {% include '_partials/menu.html' %}
                </div>
            </div>
        </div>

        <div class="text-right collapse-button" style="padding:7px 9px;">
            <button id="sidebar-collapse" class="btn btn-default" style="">
                <i style="color:#fff;" class="fa fa-angle-left"></i>
            </button>
        </div>
    </div>
</div>
