{% extends 'base.html' %}
{% block titulo %}Página Inicial{% endblock %}
{% block extrahead %}
    <style>
        .block.block-color.concrete .header {
            background-color: #a3b1b2;
        }

        .block.block-color.concrete .header h3 {
            color: white;
            font-weight: 600 !important;
        }
        .area-icones {
            list-style: none;
            padding-left: 0;
            padding-right: 0;
        }

        .area-icones .area-icones-favorito {
            background-color: #dddddd;
            text-align: center;
            padding-top: 40px;
            padding-bottom: 40px;
            border: 2px solid transparent;
            cursor: pointer;
            margin-bottom: 5px;
            position: relative;
            transition-duration: 500ms;
            transition-property: background-color, color;
        }

        .area-icones .area-icones-favorito:hover {
            color: #dddddd;
            background-color: #555;
        }

        .area-icones-icone {
            font-size: 4em;
        }

        .area-icones-label {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            left: auto;
            right: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .bg-white {
            background-color: #fff;
            margin-bottom: 20px;
            min-height: 20em;
        }
        .orange {
            background-color: #fd7e14;
        }
    </style>

{% endblock %}
{% block content %}

    {% if sugestoes %}<h3>Sugestões</h3>{% endif %}
    <div class="row">
        {% for item in sugestoes %}
            <div class="col-sm-6">
                <div class="card bg-white col-sm-12">
                    <div class="card-body">
                        <h4 class="card-title">{{ item.titulo }} </h4>
                        <p class="card-text" style="font-weight: bold;">Data de abertura: {{ item.data_abertura|date:'d/m/Y H:i:s' }}</p>
                        <p class="card-text">Resumo: {{ item.resumo|truncatechars:300 }}</p>
                        <span class="btn btn-primary">{{ item.get_modalidade_display }}</span>
                        <a href="#" class="card-link btn orange pull-right">Download</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <h3>Veja mais > </h3>
    <div class="row">
        <div class="col-sm-12">
            <div class="block block-color concrete" style="margin-bottom: 10px">
                {% include 'core/filtros.html' %}
            </div>
        </div>
    </div>
    <div class="row">
        {% for item in licitacoes %}
            <div class="col-sm-6">
                <div class="card bg-white col-sm-12">
                    <div class="card-body">
                        <h4 class="card-title">{{ item.titulo }} </h4>
                        <p class="card-text" style="font-weight: bold;">Data de abertura: {{ item.data_abertura|date:'d/m/Y H:i:s' }}</p>
                        <p class="card-text">Resumo: {{ item.resumo|truncatechars:300 }}</p>
                        <span class="btn btn-primary">{{ item.get_modalidade_display }}</span>
                        <a href="#" class="card-link btn orange pull-right">Download</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
